<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pasien"></ion-back-button>
    </ion-buttons>
    <ion-title>Informasi Klinis</ion-title>
    <ion-buttons slot="end">
      <ion-button disabled="true">
        <ion-icon name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-radio-group>
              <ion-list-header>
                Apakah terdapat gejala?
              </ion-list-header>
              <ion-item>
                <ion-label>Ya</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Tidak</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
            </ion-radio-group>

            <ion-radio-group>
              <ion-list-header>
                Diabetes?
              </ion-list-header>
              <ion-item>
                <ion-label>Ya</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Tidak</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
            </ion-radio-group>

            <ion-radio-group>
              <ion-list-header>
                Penyakit Jantung?
              </ion-list-header>
              <ion-item>
                <ion-label>Ya</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Tidak</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
            </ion-radio-group>

            <ion-radio-group>
              <ion-list-header>
                Hipertensi?
              </ion-list-header>
              <ion-item>
                <ion-label>Ya</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Tidak</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
            </ion-radio-group>

            <ion-radio-group>
              <ion-list-header>
                Keganasan?
              </ion-list-header>
              <ion-item>
                <ion-label>Ya</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Tidak</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
            </ion-radio-group>

            <ion-radio-group>
              <ion-list-header>
                Gangguan Immunologi?
              </ion-list-header>
              <ion-item>
                <ion-label>Ya</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Tidak</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
            </ion-radio-group>

            <ion-radio-group>
              <ion-list-header>
                Gagal ginjal kronis?
              </ion-list-header>
              <ion-item>
                <ion-label>Ya</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Tidak</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
            </ion-radio-group>

          </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
