<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pasien"></ion-back-button>
    </ion-buttons>
    <ion-title>Informasi Klinis</ion-title>
    <ion-buttons slot="end">
      <ion-button disabled="true">
        <ion-icon name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="git-network-outline" slot="start"></ion-icon>
            <ion-label>
              <p>
                <b>ID Kasus</b><br />
                {{ pasien.idKasus }}
              </p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <img src="assets/male-patient.png" />
            </ion-avatar>
            <ion-label>
              <p>
                <b>Nama / NIK</b>
                <span *ngIf="pasien.nama == null">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </span>
                <span *ngIf="pasien.nama !== null">
                  <br />{{ pasien.nama }} <br />{{ pasien.nik }}
                </span>
              </p>
            </ion-label>
          </ion-item>

          <ion-radio-group>
            <ion-list-header> Apakah terdapat gejala? </ion-list-header>
            <ion-item>
              <ion-label>Ya</ion-label>
              <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Tidak</ion-label>
              <ion-radio slot="start" value="0"></ion-radio>
            </ion-item>
          </ion-radio-group>

          <ion-radio-group>
            <ion-list-header> Diabetes? </ion-list-header>
            <ion-item>
              <ion-label>Ya</ion-label>
              <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Tidak</ion-label>
              <ion-radio slot="start" value="0"></ion-radio>
            </ion-item>
          </ion-radio-group>

          <ion-radio-group>
            <ion-list-header> Penyakit Jantung? </ion-list-header>
            <ion-item>
              <ion-label>Ya</ion-label>
              <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Tidak</ion-label>
              <ion-radio slot="start" value="0"></ion-radio>
            </ion-item>
          </ion-radio-group>

          <ion-radio-group>
            <ion-list-header> Hipertensi? </ion-list-header>
            <ion-item>
              <ion-label>Ya</ion-label>
              <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Tidak</ion-label>
              <ion-radio slot="start" value="0"></ion-radio>
            </ion-item>
          </ion-radio-group>

          <ion-radio-group>
            <ion-list-header> Keganasan? </ion-list-header>
            <ion-item>
              <ion-label>Ya</ion-label>
              <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Tidak</ion-label>
              <ion-radio slot="start" value="0"></ion-radio>
            </ion-item>
          </ion-radio-group>

          <ion-radio-group>
            <ion-list-header> Gangguan Immunologi? </ion-list-header>
            <ion-item>
              <ion-label>Ya</ion-label>
              <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Tidak</ion-label>
              <ion-radio slot="start" value="0"></ion-radio>
            </ion-item>
          </ion-radio-group>

          <ion-radio-group>
            <ion-list-header> Gagal Ginjal Kronis? </ion-list-header>
            <ion-item>
              <ion-label>Ya</ion-label>
              <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Tidak</ion-label>
              <ion-radio slot="start" value="0"></ion-radio>
            </ion-item>
          </ion-radio-group>

          <ion-radio-group>
            <ion-list-header> Gagal Hati Kronis? </ion-list-header>
            <ion-item>
              <ion-label>Ya</ion-label>
              <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Tidak</ion-label>
              <ion-radio slot="start" value="0"></ion-radio>
            </ion-item>
          </ion-radio-group>

          <ion-radio-group>
            <ion-list-header>PPOK? </ion-list-header>
            <ion-item>
              <ion-label>Ya</ion-label>
              <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Tidak</ion-label>
              <ion-radio slot="start" value="0"></ion-radio>
            </ion-item>
          </ion-radio-group>

          <ion-radio-group>
            <ion-list-header>Hamil? </ion-list-header>
            <ion-item>
              <ion-label>Ya</ion-label>
              <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Tidak</ion-label>
              <ion-radio slot="start" value="0"></ion-radio>
            </ion-item>
          </ion-radio-group>

          <ion-radio-group>
            <ion-list-header>Lainnya? </ion-list-header>
            <ion-item>
              <ion-label>Ya</ion-label>
              <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Tidak</ion-label>
              <ion-radio slot="start" value="0"></ion-radio>
            </ion-item>
          </ion-radio-group>
          <ion-item>
            <ion-label position="floating">Keterangan Lainnya</ion-label>
            <ion-input></ion-input>
          </ion-item>

          <ion-radio-group>
            <ion-list-header>Apakah dirawat di Rumah Sakit? </ion-list-header>
            <ion-item>
              <ion-label>Ya</ion-label>
              <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Tidak</ion-label>
              <ion-radio slot="start" value="0"></ion-radio>
            </ion-item>
          </ion-radio-group>

          <ion-radio-group>
            <ion-list-header>Status Saat Wawancara? </ion-list-header>
            <ion-item>
              <ion-label>Sembuh</ion-label>
              <ion-radio slot="start" value="Sembuh"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Masih Sakit</ion-label>
              <ion-radio slot="start" value="Masih Sakit"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Meninggal</ion-label>
              <ion-radio slot="start" value="Meninggal"></ion-radio>
            </ion-item>
          </ion-radio-group>

          <ion-radio-group>
            <ion-list-header
              >Pneumonia (klinis atau radiologi)?
            </ion-list-header>
            <ion-item>
              <ion-label>Ya</ion-label>
              <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Tidak</ion-label>
              <ion-radio slot="start" value="0"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Tidak Tahu</ion-label>
              <ion-radio slot="start" value="Tidak Tahu"></ion-radio>
            </ion-item>
          </ion-radio-group>

          <ion-radio-group>
            <ion-list-header
              >ARDS (Acute Respiratory Distress Syndrome)?
            </ion-list-header>
            <ion-item>
              <ion-label>Ya</ion-label>
              <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Tidak</ion-label>
              <ion-radio slot="start" value="0"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Tidak Tahu</ion-label>
              <ion-radio slot="start" value="Tidak Tahu"></ion-radio>
            </ion-item>
          </ion-radio-group>

          <ion-radio-group>
            <ion-list-header>Lainnya? </ion-list-header>
            <ion-item>
              <ion-label>Ya</ion-label>
              <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Tidak</ion-label>
              <ion-radio slot="start" value="0"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Tidak Tahu</ion-label>
              <ion-radio slot="start" value="Tidak Tahu"></ion-radio>
            </ion-item>
          </ion-radio-group>
          <ion-item>
            <ion-label position="floating">Keterangan Lainnya</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="primary" expand="block" disabled="true">
            Simpan
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
