<ion-content>
  <ion-grid style="background-image: linear-gradient(#8845bf, white);">
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <img src="assets/login.png" width="120"/>
        </div>
        <form [formGroup]="formLogin" (ngSubmit)="doLogin()">
          <div class="ion-padding" >
            <ion-item style="margin-bottom: 5px;">
              <ion-input
                name="email"
                formControlName="email"
                style="font-size: 11pt"
                placeholder="Email"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                name="password"
                formControlName="password"
                type="password"
                placeholder="Password"
              ></ion-input>
            </ion-item>
          </div>
          <div class="ion-text-center">
            <ion-button color="primary" type="submit" fill="outline" style="width: 250px;">
              Login
            </ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
