<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/isoman"></ion-back-button>
    </ion-buttons>
    <ion-title>Isolasi Mandiri</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onSave()">
        <ion-icon name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="calendar-outline" slot="start"></ion-icon>
            <ion-label>
              <p>
                <b>Tgl. Wawancara: </b><br/> {{ tglWawancara | date }}
              </p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="calendar-outline" slot="start"></ion-icon>
            <ion-label>
              <p>
                <b>Tgl. Onset: </b><br/> {{ kurvaEpidemiologi | date }}
              </p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Tgl. Pemantauan</ion-label>
            <ion-datetime name="tanggal_pemantauan" formControlName="tanggalPemantauan"></ion-datetime>
          </ion-item>
          <ion-radio-group formControlName="kesehatan">
            <ion-list-header>
              <ion-label>Cek Kesehatan</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label>Tanpa Gejala</ion-label>
              <ion-radio slot="start" value="Tanpa Gejala"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Demam</ion-label>
              <ion-radio slot="start" value="Demam"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Sesak Napas (Pneumonia)</ion-label>
              <ion-radio slot="start" value="Sesak napas (pneumonia)"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Demam dan Gejala ISPA</ion-label>
              <ion-radio slot="start" value="Demam dan gejala ISPA"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Gejala ISPA</ion-label>
              <ion-radio slot="start" value="Gejala ISPA"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Tidak Terpantau</ion-label>
              <ion-radio slot="start" value="Tidak Terpantau"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Rujuk RS</ion-label>
              <ion-radio slot="start" value="Rujuk RS"></ion-radio>
            </ion-item>
          </ion-radio-group>
          <ion-radio-group formControlName="pcr">
            <ion-list-header>
              <ion-label>Apakah diperiksa follow up RT-PCR?</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label>Ya</ion-label>
              <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Tidak</ion-label>
              <ion-radio slot="start" value="0"></ion-radio>
            </ion-item>
          </ion-radio-group>
          <ion-item-group *ngIf="form.get('pcr').value == '1'">
            <ion-item-divider>
              <ion-label>Follow Up RT-PCR 1</ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label position="floating">Tgl. Pengambilan Spesimen Follow Up</ion-label>
              <ion-datetime formControlName="tanggalPcr1"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Tgl. Hasil Follow Up</ion-label>
              <ion-datetime formControlName="tanggalKeluarPcr1"></ion-datetime>
            </ion-item>
            <ion-radio-group formControlName="hasilPcr1">
              <ion-list-header>
                <ion-label>Hsl Follow Up</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>Positif</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Negatif</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
            </ion-radio-group>

            <ion-item-divider>
              <ion-label>Follow Up RT-PCR 2</ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label position="floating">Tgl. Pengambilan Spesimen Follow Up</ion-label>
              <ion-datetime formControlName="tanggalPcr2"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Tgl. Hasil Follow Up</ion-label>
              <ion-datetime formControlName="tanggalKeluarPcr2"></ion-datetime>
            </ion-item>
            <ion-radio-group formControlName="hasilPcr2">
              <ion-list-header>
                <ion-label>Hsl Follow Up</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>Positif</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Negatif</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-item-group> <!--/ end of rt-pcr 1 -->
          <ion-item>
            <ion-label position="stack">Pemantauan Terakhir</ion-label>
            <ion-checkbox slot="start" formControlName="pemantauanTerakhir"></ion-checkbox>
          </ion-item>
          <ion-item-group *ngIf="form.get('pemantauanTerakhir').value">
            <ion-list-header>
              <ion-label>Status</ion-label>
            </ion-list-header>
            <ion-radio-group formControlName="status">
              <ion-item>
                <ion-label>Sehat</ion-label>
                <ion-radio slot="start" value="Sehat"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Meninggal</ion-label>
                <ion-radio slot="start" value="Meninggal"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-item-group>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="primary" expand="block" (click)="onSave()">
            Simpan
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
